{% extends "base.html" %}
{% block content %}
<style>
    .custom-input {
        width: 600px;
    }
	.backk{
        background-color: #79806f;
        background-size: cover;
        height:100%;
        width:100vw;
    }
</style>
    <section class="ftco-section services-section backk">
      <div class="container">
      	<div class="row justify-content-center">
          <div class="col-md-12 heading-section text-center ftco-animate mb-5">

            <h2 class="mb-2">What We Offer</h2>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon"><span class="flaticon-placeholder"></span></div>
	                <h3 class="heading mb-0 pl-3">Empowering Automotive Choices</h3>
                </div>
                <p>Whether you're a car enthusiast, a vehicle owner, or someone looking for the latest automotive hardware, our platform provides a gateway to explore, compare, and make informed decisions about vehicle hardware components and related products.</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon"><span class="flaticon-placeholder"></span></div>
	                <h3 class="heading mb-0 pl-3"> Streamlined Automotive Services</h3>
                </div>
                <p>Finding repair services for your vehicle is made easy with our platform. You can describe your hardware issues, locate nearby automotive repair technicians, and communicate with them for appointments and issue resolution.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon"><span class="flaticon-placeholder"></span></div>
	                <h3 class="heading mb-0 pl-3"> Career Advancement</h3>
                </div>
                <p>For automotive technicians seeking career opportunities within the industry, our Technicians Job Search Module is a dedicated space where you can explore diverse job opportunities, showcase your qualifications, and apply for positions directly through the platform.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>





		<section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(./static/myapp/assets/images/about.jpg);">
					</div>
					<div class="col-md-6 wrap-about py-md-5 ftco-animate">
	          <div class="heading-section mb-5 pl-md-5">
	          	<span class="subheading">About us</span>
	            <h2 class="mb-4">Driving Innovation, Connecting Communities</h2>

	            <p>Welcome to the Autopulse network, your ultimate destination for all things automotive hardware! We are passionate about cars and technology, and we've built this platform with a clear vision in mind: to empower vehicle enthusiasts, consumers, service providers, and technicians in the ever-evolving world of vehicle technology.</p>
	            <p>Our mission is to create a versatile digital solution that puts the power of choice, knowledge, and connectivity in your hands. We believe that the automotive industry should be transparent, convenient, and trustworthy, and we've designed this platform to make it happen.</p>

	          </div>
					</div>
				</div>
			</div>

        </section>
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Autopulse network</h2>
              <p> Your one-stop solution for automotive hardware. We're driven by a passion for cars and technology and a clear vision: to empower vehicle enthusiasts, consumers, service providers, and technicians in the dynamic world of automotive technology</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Information</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Services</a></li>
                <li><a href="#" class="py-2 d-block">Term and Conditions</a></li>
                <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
                <li><a href="#" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Customer Support</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">FAQ</a></li>
                <li><a href="#" class="py-2 d-block">Payment Option</a></li>
                <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
                <li><a href="#" class="py-2 d-block">How it works</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">789 Palm Lane, Al Poche District, Abu Dhabi, UAE</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+971 50 123 4567</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@AutopulseNetwork.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>

{% endblock %}


