{% extends "base.html" %}
{% block content %}
  <main id="main">
<style>
    .custom-input {
        width: 500px;
    }
	.backk{
        background-color: #79806f;
        background-size: cover;
        height:100vh;
        width:100vw;
    }
</style>
<div class="backk pt-5">
<center>
     <h2><font color="#366092"><br><br><br><br>Technician Login</font></h2>
    <div class="container">
        <form name="frm" role="form" action=""
              method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="uname"><br><b>User Name</b>  </label>
                <input class="form-control custom-input" type="text" name="username" id="username" required> </td>
            </div>
                <div class="form-group">
                    <label for="password"><br><b>Password</b>  </label>
                    <input class="form-control custom-input" type="password" name="password" id="password" required> </td>
                </div>
            <br>
                 <button type="submit" class="btn btn-info" id="bt" name="bt">Login</button>
        &nbsp;<button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button><br>
        {{msg}}
        <a href="/tech_registration"><br>Not Registered? New Shop</a></h1>
        </form>
    </div>
</center>
        </main><!-- End #main -->
<br><br><br>
</div>
{% endblock %}